:host {
  --background: #202124;
  --yellow: #fea43f;
  --red: #d92494;
  --blue: #1d528e;
  --text: #ffffff;
  --text-light: var(--yellow);
  --text-link: var(--red);
}

.vfrc-widget * {
  font-family: 'Courier Prime';
}

.vfrc-widget--chat a {
  color: var(--text-link);
}

.vfrc-widget--chat {
  width: 640px;
  border: 2px solid var(--blue);
}

.vfrc-launcher {
  overflow: hidden;
  height: 128px;
  width: 128px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.vfrc-launcher img {
  height: 128px;
  width: 128px;
}

.vfrc-assistant-info .vfrc-avatar {
  width: 128px;
  height: 128px;
}

.vfrc-assistant-info--title {
  color: var(--text);
}

.vfrc-assistant-info--description {
  color: var(--text-light);
}

.vfrc-chat {
  background-color: var(--background);
}

.vfrc-chat--dialog {
  overflow: hidden auto;
}

.vfrc-chat--session-time {
  color: var(--text-light);
}

.vfrc-chat--status {
  color: var(--text-light);
}

.vfrc-message {
  max-width: 424px !important;
}

.vfrc-timestamp {
  color: var(--text-light);
}

.vfrc-button {
  background-color: var(--blue);
  color: var(--text);
  font-weight: 400;
}

.vfrc-button:hover {
  opacity: 0.8;
}

.vfrc-user-response .vfrc-message {
  background-color: var(--blue);
}

.vfrc-footer--watermark {
  color: var(--text-light);
}

.hiai-legal-info {
  padding: 12px 48px;
  background-color: #307696;
  color: black;
}

.hiai-legal-info--description,
.hiai-legal-info--description a {
  color: black;
}

iframe.calendly-embed {
  width: 424px;
  height: 540px;
  border: 3px solid var(--blue);
}

@media (max-width: 768px) {
  .vfrc-widget--chat {
    width: 98% !important;
  }
}
