@import url(https://cdn.hi-aichat.com/chat-widget/999999999/fonts/stylesheet.css);

:host {
  --background: #202124;
  --yellow: #fea43f;
  --red: #fe2d54;
  --blue: #48b0df;
  --text: #ffffff;
  --usermessage: #6bccf7;
}

.vfrc-widget--chat {
  border: 3px solid var(--blue);
}

/*
  PAGE CONTENTS

  Customize the page that the chat bubble lives on
*/

/* .voiceflow-chat {} */

.vfrc-launcher {
  overflow: hidden;
}

.vfrc-launcher img {
  height: 64px;
  width: 64px;
}

/* .vfrc-chat--overlay {} */

/* .vfrc-prompt {} */

/*
  CHAT WIDGET HEADER

  Customize the content, controls and styling included in your chat widget header, including the Assistant Information.
  Note that changes to the assistant information here will be shared across other elements that consume this styling.
*/

.vfrc-header {
  background: linear-gradient(145deg, var(--red) 0%, var(--background) 75%, var(--blue) 100%);
}

/* .vfrc-assistant-info {} */

.vfrc-assistant-info .vfrc-avatar {
  width: 128px;
  height: 128px;
}

.vfrc-assistant-info--title {
  color: var(--text);
}

.vfrc-assistant-info--description {
  color: var(--text);
}

/* .vfrc-avatar {} */

/* .vfrc-icon {} */

/*
  CHAT MESSAGE BODY

  Customize the layout and display of the chat body, and the conversation's metadata
*/

.vfrc-chat {
  background-color: var(--background);
}

.vfrc-chat--dialog {
  overflow: hidden auto;
}

/* .vfrc-chat--spacer {} */

/* .vfrc-chat--session-time {} */

/* .vfrc-chat--status {} */

.vfrc-message {
  font-family: 'Courier Prime';
  font-size: 32px;
}

/* .vfrc-timestamp {} */

/*
  ASSISTANT RESPONSES

  Customize the style and layout of assistant response messages.
*/

/* .vfrc-system-response--indicator {} */

/* .vfrc-system-response {} */

/* .vfrc-system-response--controls {} */

/* .vfrc-system-response--list {} */

/* .vfrc-system-response--actions {} */

.vfrc-button {
  background-color: var(--usermessage);
  padding: 14px !important;
  border: 1px solid var(--blue);
}

/* .vfrc-image {} */

/* .vfrc-image--background {} */

/* .vfrc-card--content {} */

/* .vfrc-card--header {} */

/* .vfrc-card--description {} */

/* .vfrc-carousel {} */

/* .vfrc-carousel--button {} */

/* Targeted styling for just the Assistant messages. */
/* .vfrc-system-response .vfrc-message {} */

/* Targeted styling for just the Assistant buttons. */
/* .vfrc-system-response .vfrc-button {} */

/*
  USER RESPONSES

  Customize the style and layout of users response messages.
*/

/* .vfrc-user-response {} */

/* Targeted styling for just the User messages */
/* .vfrc-user-response .vfrc-message {} */

/*
  FOOTER

  Customize the layout and appearance of the message input field and the VF Branding
*/

/* .vf-footer {} */

/* .vfrc-input {} */

/* .vfrc-chat-input--button {} */

/* .vfrc-footer--watermark {} */
